[submodule "grammars/tree-sitter-bash"]
	path = grammars/tree-sitter-bash
	url = https://github.com/tree-sitter/tree-sitter-bash
[submodule "grammars/tree-sitter-c"]
	path = grammars/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "grammars/tree-sitter-c-sharp"]
	path = grammars/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp
[submodule "grammars/tree-sitter-clojure"]
	path = grammars/tree-sitter-clojure
	url = https://github.com/sogaiu/tree-sitter-clojure
[submodule "grammars/tree-sitter-cpp"]
	path = grammars/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "grammars/tree-sitter-css"]
	path = grammars/tree-sitter-css
	url = https://github.com/tree-sitter/tree-sitter-css
[submodule "grammars/tree-sitter-dockerfile"]
	path = grammars/tree-sitter-dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile
[submodule "grammars/tree-sitter-go"]
	path = grammars/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go
[submodule "grammars/tree-sitter-html"]
	path = grammars/tree-sitter-html
	url = https://github.com/tree-sitter/tree-sitter-html
[submodule "grammars/tree-sitter-java"]
	path = grammars/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
[submodule "grammars/tree-sitter-javascript"]
	path = grammars/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
[submodule "grammars/tree-sitter-julia"]
	path = grammars/tree-sitter-julia
	url = https://github.com/tree-sitter/tree-sitter-julia
[submodule "grammars/tree-sitter-kotlin"]
	path = grammars/tree-sitter-kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin
[submodule "grammars/tree-sitter-latex"]
	path = grammars/tree-sitter-latex
	url = https://github.com/latex-lsp/tree-sitter-latex
[submodule "grammars/tree-sitter-lua"]
	path = grammars/tree-sitter-lua
	url = https://github.com/MunifTanjim/tree-sitter-lua
[submodule "grammars/tree-sitter-markdown"]
	path = grammars/tree-sitter-markdown
	url = https://github.com/MDeiml/tree-sitter-markdown
[submodule "grammars/tree-sitter-ocaml"]
	path = grammars/tree-sitter-ocaml
	url = https://github.com/tree-sitter/tree-sitter-ocaml
[submodule "grammars/tree-sitter-perl"]
	path = grammars/tree-sitter-perl
	url = https://github.com/ganezdragon/tree-sitter-perl
[submodule "grammars/tree-sitter-php"]
	path = grammars/tree-sitter-php
	url = https://github.com/tree-sitter/tree-sitter-php
[submodule "grammars/tree-sitter-python"]
	path = grammars/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "grammars/tree-sitter-ruby"]
	path = grammars/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
[submodule "grammars/tree-sitter-rust"]
	path = grammars/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "grammars/tree-sitter-scala"]
	path = grammars/tree-sitter-scala
	url = https://github.com/tree-sitter/tree-sitter-scala
[submodule "grammars/tree-sitter-swift"]
	path = grammars/tree-sitter-swift
	url = https://github.com/alex-pinkus/tree-sitter-swift
[submodule "grammars/tree-sitter-zig"]
	path = grammars/tree-sitter-zig
	url = https://github.com/maxxnino/tree-sitter-zig
[submodule "grammars/tree-sitter-typescript"]
	path = grammars/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
[submodule "grammars/tree-sitter-json"]
	path = grammars/tree-sitter-json
	url = https://github.com/tree-sitter/tree-sitter-json
